.timer-value {
    font-family: monospace;
    font-size: 3rem;
    margin-bottom: 20px;
}

.divider {
    margin: 24px 0;
    border: 1px solid azure;
}

.timer-options-label {
    margin-right: 12px;
}

.timer-container button + button {
    margin-left: 8px;
}